.Form {
  align-items: center;
  background-color: blue;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%);
  padding: 80px;
  border-radius: 15px;
}

.navbar {
  background-color: crimson;
}
